@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

@include breakpoint-md {
  .layout {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@include breakpoint-lg {
  .layout {
    max-width: 63rem;
    margin-left: auto;
    margin-right: auto;
  }
}
